*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: rgb(231, 226, 226);
}
.center{
    width: 300px;
    height: 300px;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 1px 10px rgba(238, 0, 0, 0.5);
    cursor: pointer;
    transition:  0.3s;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.center:hover{
    box-shadow: 0 1px 10px rgba(0, 18, 180,1);
    background: rgb(245, 239, 239);
}
.center input{
    width: 60%;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    outline: none;
    border-radius: 25px;
    text-align: center;
    color:rgb(50, 50, 51);
    font-weight: 600;
    margin-bottom: 15px;
    border: 0.3px solid rgb(93, 89, 89);
}
.center h1{
    font-size: 18px;
    margin-bottom: 15px;
    color: rgb(53, 53, 225);
}
.center input[type="submit"]{
    width: 80%;
    background: rgb(86, 193, 86);
    color: white;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    border: none;
}
.center input[type="submit"]:hover{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 1);
    transform: translateY(-1px);
    background: green;
}
.center p{
    display: block;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13px;
    color: green;
}